html { height: 100%; }
body {
  height: 100%;
  background: #f0f0f0;
}

ul {
}

a:link, a:visited {
  color: #00e;
  text-decoration: none;
}
a:hover, a:active {
  color: #44e;
  text-decoration: underline;
}

img {
  max-width: 600px;
}

section {
  color: #222;
  border: 2px solid #444;
  border-left: none;
  background: #fff;
  border-radius: 28px;
  width: 600px;
  padding: 30px;
}
